<style>.collections_item:hover .collections_image,
.collections_item:focus-within .collections_image,
.collections_item:hover .collections_overlay-image,
.collections_item:focus-within .collections_overlay-image {
  scale: 1.1;
}
@media screen and (max-width: 1440px) {
  .swiper.is-collections {
    overflow: visible;
  }
}
</style><div class="padding-global padding-section-medium"><div class="container-large"><div class="swiper_component is-collections"><h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
<div class="collections_swiper-wrapper"><div class="swiper is-collections"><div role="list" class="swiper-wrapper is-collections">{% for collection in section.settings.collection_list limit: section.settings.collection_limit %}    <div li-for="collection in section.settings.collection_list limit: section.settings.collection_limit" class="swiper-slide is-collections">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}{% for collection in section.settings.collection_list limit: section.settings.collection_limit %}    <div li-for="collection in section.settings.collection_list limit: section.settings.collection_limit" class="swiper-slide is-collections">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}{% for collection in section.settings.collection_list limit: section.settings.collection_limit %}    <div li-for="collection in section.settings.collection_list limit: section.settings.collection_limit" class="swiper-slide is-collections">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}{% for collection in section.settings.collection_list limit: section.settings.collection_limit %}    <div li-for="collection in section.settings.collection_list limit: section.settings.collection_limit" class="swiper-slide is-collections">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}{% for collection in section.settings.collection_list limit: section.settings.collection_limit %}    <div li-for="collection in section.settings.collection_list limit: section.settings.collection_limit" class="swiper-slide is-collections">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}</div></div></div></div></div></div> <script> document.addEventListener('DOMContentLoaded', () =>{$(".swiper_component.is-collections").each(function (index){const swiper = new Swiper($(this).find(".swiper")[0],{autoHeight: false, followFinger: true, freeMode: false, slideToClickedSlide: false, slidesPerView: "auto", rewind: false, loop: true, centeredSlides: true, autoplay:{delay: 2500, disableOnInteraction: false,}, breakpoints:{992:{slidesPerView: 2,}, 1440:{slidesPerView: 3}}, mousewheel:{forceToAxis: true}, keyboard:{enabled: true, onlyInViewport: true}, pagination:{el: $(this).find(".swiper_pagination")[0], bulletActiveClass: "is-active", bulletClass: "swiper_bullet", bulletElement: "button", clickable: true,}, navigation:{nextEl: $(this).find(".swiper_button.swiper-next")[0], prevEl: $(this).find(".swiper_button.swiper-prev")[0], disabledClass: "swiper-button-disabled",}, slideActiveClass: "is-active", slideDuplicateActiveClass: "is-active", a11y:{slideRole: 'listitem'}});});}); </script> <div class="hide w-embed"></div>
 {% schema %} {"tag":"section","name":"Collection Swiper 1","class":"section_collections-slider","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Bestseller"},{"type":"collection_list","id":"collection_list","label":"Collections","limit":20},{"type":"range","id":"collection_limit","min":1,"max":50,"step":1,"label":"Collections: Limit","default":12}],"presets":[{"name":"Collection Swiper 1","category":"Liquify","blocks":[]}]} {% endschema %}