<div class="padding-global"><div class="container-large"><div class="padding-section-large"><div class="margin-bottom margin-xxlarge"><h2 class="heading-style-h2">
{{ section.settings.text_titulo }}
</h2>
</div><div class="cta38_component">{% for customer in shop.metaobjects.customer.values %}    <div li-for="customer in shop.metaobjects.customer.values" class="cta38_item">
                                    
                            <a li-object="customer.url" data-w-id="9303fa25-2f9b-e14c-1fa1-588801529a55" href="#" target="_blank" class="cta38_link-block w-inline-block">{{ customer.url }}</a>
                            
                        </div>
{% endfor %}</div></div></div></div> {% schema %} {"tag":"header","name":"Customer","class":"section_cta38","settings":[{"id":"text_titulo","type":"text","label":"T\u00edtulo","default":"Nuestros clientes"}],"presets":[{"name":"Customer","category":"Liquify","blocks":[]}]} {% endschema %}