<div class="padding-global"><div class="container-large"><div class="padding-section-medium"><div class="text-align-center"><h2 class="heading-style-h3">
{{ section.settings.text_texto }}
</h2>
</div></div></div></div> {% schema %} {"tag":"section","name":"Frase Destacada","class":"section_cta25","settings":[{"id":"text_texto","type":"text","label":"Texto","default":"\u201cLa est\u00e9tica ten\u00eda que ser simple, limpia, minimalista, contempor\u00e1nea, delicada y elegante, inspirada en la cocteler\u00eda cl\u00e1sica.\u201d"}],"presets":[{"name":"Frase Destacada","category":"Liquify","blocks":[]}]} {% endschema %}