<div class="padding-global"><div class="container-large"><div class="padding-section-large"><div class="content1_component"><div class="content1_first-text"><p class="text-size-large">
{{ section.settings.text_content }}
</p>
</div><h2 class="heading-style-h1">
{{ section.settings.text_heading }}
</h2>
</div></div></div></div> {% schema %} {"tag":"div","name":"Intro Text","class":"section_content1","settings":[{"id":"text_content","type":"text","label":"Content","default":"Blow Glassware ha sido creado con el objetivo de cautivar y enamorar al consumidor, dise\u00f1ado desde la perspectiva del bartender y producido con la maestr\u00eda del artesano. Satisfaciendo necesidades de dise\u00f1o y funcionalidad que, desde nuestro punto de vista, no hab\u00edan sido exploradas hasta ahora en la escena del cocktail bar."},{"id":"text_heading","type":"text","label":"Heading","default":"Artesan\u00eda y dise\u00f1o"}],"presets":[{"name":"Intro Text","category":"Liquify","blocks":[]}]} {% endschema %}