<div class="padding-global"><div class="container-large"><div class="padding-section-large"><div class="margin-bottom margin-xlarge"><div class="text-align-left"><div class="max-width-large"><div class="margin-bottom margin-small"><h2 class="heading-style-h2">
{{ section.settings.text_titular }}
</h2>
</div></div></div></div><div class="collections_list-wrapper w-dyn-list"><div role="list" class="collections_grid w-dyn-items">{% for collection in collections %}    <div li-for="collection in collections" role="listitem" class="collections_list-item w-dyn-item">
                                    
                            <a li-object:href="collection.url" data-w-id="e9f9b692-e9e4-8a33-cba2-c046e2435d98" href="{{ collection.url }}" class="collections_item w-inline-block"><img alt="" loading="lazy" li-object:src="collection.featured_image | img_url: 'master'" src="{{ collection.featured_image | img_url: 'master' }}" class="collections_bg-image">
<div style="opacity:0" class="collections_overlay"></div><div style="-webkit-transform:translate3d(0, 180%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 180%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 180%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 180%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="collections_title"><h2 li-object="collection.title" class="heading-style-h4 text-color-white">{{ collection.title }}</h2></div></a>
                            
                        </div>
{% endfor %}</div><div class="hide w-dyn-empty"><div>No items found.</div></div></div></div></div></div> {% schema %} {"tag":"section","name":"List-Collection 2","class":"section_collections","settings":[{"id":"text_titular","type":"text","label":"Titular","default":"Colecciones"}],"presets":[{"name":"List-Collection 2","category":"Liquify","blocks":[]}]} {% endschema %}