<div data-video-urls="" data-autoplay="true" data-loop="true" data-wf-ignore="true" li-object="section.settings.video | video_tag: controls: true, width: '100%'" class="video-background_item w-background-video w-background-video-atom">{{ section.settings.video | video_tag: controls: true, width: '100%' }}</div><div li-settings="custom" class="hide w-embed">
</div>
 {% schema %} {"tag":"div","name":"Video","class":"section_video","presets":[{"name":"Video","category":"Liquify","blocks":[]}]} {% endschema %}